* {
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  background-color: #d8d8d8;
}

ul {
  list-style-type: none;
}

button {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
}

/* sidebar */
.sidebar {
  background-color: #faf0e7;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  max-width: 500px;
}

.sidebar button {
  justify-content: center;
  border: none;
  background-color: transparent;
}

.sidebar .nav_add-todo_button {
  border: 2px solid #7c18ac;
  border-radius: 6px;
  background-color: #d8d8d8;
  color: #7c18ac;
  padding: 4px 0px;
}

nav > ul > li {
  margin-top: 8px;
}

.projects_list_element ul li {
  margin-top: 4px;
}

.nav_project-list {
  margin-left: 15px;
}

/* main */
main {
  padding: 20px 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main button {
  border: none;
  background: none;
}

h1 {
  margin-bottom: 30px;
}

.todo-container {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 700px;
}

.list_item_icon-container {
  display: flex;
  gap: 10px;
}

.list_item_options_icon-container {
  margin-left: auto;
}

.list_of_tasks {
  margin-left: 15px;
}

.list_of_tasks > li {
  display: flex;
  align-items: center;
  gap: 4px;
}

.time_left {
  display: flex;
  align-items: center;
  background-color: #d3c9c9;
}
